body{
   background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mgz.jpg);
   background-size:auto;
   background-position: center;
   text-align:justify;

  
   align-items: center;
    

}

.header{
    text-align: start;
    border-radius: 50px;
}

.menu a{
    display: block;
    padding: 14px;
    background-color: rgb(238, 250, 250);
    color: rgb(20, 2, 2);
    padding: 8px 12px;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 80px;
    
}


.menu{
    display: none;
    padding: 10px;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    z-index: 1;
}


video{
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    min-width: 100px;
    min-height: 100px;
    width: auto;
    height: auto;
    
    z-index: 1;
    
}

#menu-toggle:checked ~ .menu{
    display:block;
}

.navigation{
    
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 15px;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}

.navigation :hover{
    color: rgb(211, 69, 65);
    cursor: pointer;
    transform:scale(1.2);
}

.navigation .n1{
    display: flex;
    padding: 1rem;
    text-align: center;
    border: solid rgb(211, 211, 226);
    background-color: transparent;
    color:white;
    
}

.navigation .n2{
    display: flex;
    padding: 1rem;
    text-align: center;
    border: solid rgb(203, 203, 221);
    background-color: transparent;
    color:white
}

.navigation .n3{
    display: flex;
    padding: 1rem;
    text-align: center;
    border: solid rgb(203, 203, 218);
    background-color: transparent;
    color: white;
}

.navigation .n4{
    display: flex;
    padding: 1rem;
    text-align: center;
    border: solid rgb(195, 195, 212);
    background-color: transparent;
    color: white;
}

.navigation a{
    color: aliceblue;
}

.socials{
    padding: 40px;
    margin-top: 300px;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 50px;
    gap: 2rem;
    transition: ease-in-out 2s;
}

.socials :hover{
    color: blue;
    transform: scale(1.2);
    cursor: pointer;
}

footer{
    background-color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}
#check{
    display: none;
}